*{
    margin:0;
    padding:0;
    font-family:sans-serif;
  }
  body{
    background-image: radial-gradient(circle,lightblue, lightgray,white);
  }
  /* navbar */
  nav{
    height:3rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-image: linear-gradient(to right, rgb(29, 23, 112) , rgb(34, 178, 235));
    padding:5px;
  }
  .nav-options{
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .brand{
    margin-top: 0.6rem;
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color:white;
  }
  .me{
    border: 1px solid black;
    border-radius: 50%;
    
    height:40px;
    width:40px;
  }
  .items a{
    color:white;
    text-decoration:none;
  }
  .items{
    font-family:sans-serif;
    font-size:20px;
    
    padding-left:25px;
    padding-right:25px;
    margin-right:9px;
  }
  .toggle{
    font-size:20px;
    display: none;
  }
  .items:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  
  img{
    width:100%;
  }
  /* home content */
  .home{
    position:relative;
    text-align:center;
    color:white;
  }
  .intro{
    position:absolute;
    top:20%;
    left:50%;
    color: white;
  }
  .pic{
    position:absolute;
    top:50%;
    left:30%;
  }
  
  /* skillset */
  .skillset{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: -5px;
    background-image: radial-gradient(circle, rgb(29, 23, 112) , rgb(34, 178, 235));
  }
  .skillset h2{
    margin-left: 10px;
    font-size: 30px;
  }
  .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sk{
    background-color: lightblue;
    color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 1rem;
    height: 2rem;
    font-size: 19px;
  }

  .projects{
    margin-top: -15px;
    background-image: radial-gradient(circle , rgb(34, 178, 235), rgb(29, 23, 112));
  }
  .projects h2{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .list{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card{
    color: white;
    width: 20rem;
    height: 15rem;
    margin: 10px;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 3px 6px 2px black;
  }
  .card:hover{
    box-shadow: none;
    transition-duration: 0.2s;
  }
  .card h3{
    color: black;
  }
  .repo{
    text-decoration: none;
    color: yellow;
  }
  .repo:hover{
    background-color: green;
    color: white;
    font-weight: bold;
    height: 30px;
    border-radius: 1rem;
    transition-duration: 0.6s;
  }
  .details{
    padding: 8px;
  }

  
  .Footer {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    text-decoration: none;
    margin-bottom: 20px;
    bottom: fixed;
    margin-top: 10rem;
    background-color: lightgray;
    
  }
  .Follow {
    margin-left: 5rem;
  }
  
  .Follow h3 {
    font-size: 2rem;
  
    margin-left: 4rem;
  }
  .Follow ul {
    display: flex;
    flex-flow: row;
  }
  .Follow ul li {
    margin: 0rem 0.8rem;
    /* color: #fff; */
  
    border: none;
    box-shadow: none;
    display: block;
    font-size: 35px;
    text-align: center;
    width: 35px;
    outline: none;
    list-style: none;
    text-decoration: none;
  }
  
  .fab {
    padding: 5px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fab:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3b5998;
    color: white;
   
  }
  .fa-facebook:hover {
    background: #2e4473;
    color: white;
    text-decoration: none;
  }
  
  /* Twitter */
  
  .fa-twitter {
    background: #55acee;
    color: white;
    text-decoration: none;
  }
  .fa-twitter:hover {
    background: #07bcff;
    color: white;
    text-decoration: none;
  }
  .fa-instagram {
    background: #0f537a;
    color: white;
    text-decoration: none;
  }
  .fa-instagram:hover {
    background: #0f537a;
    color: white;
    text-decoration: none;
  }

  
  .Contact  {
    margin: 0rem 12rem;
    display: inline-block;
  }
  .Contact  h3 {
    font-size: 2rem;
    margin-left: 0rem 1rem;
  }
  .icon {
    font-size: 30px;
    display: flex;
    flex-flow: row;
  }
  
  .Contact a {
    font-size: 1rem;
    margin: 0rem 0.5rem;
    list-style: none;
    color: #777;
    text-decoration: none;
  }
  .Contact  a:hover {
    color: #bb732e;
  }
  .Contact  p {
    display: flex;
    font-size: 1rem;
    flex-flow: column;
    margin: 0rem 1rem;
    text-decoration: none;
    color: #777;
  }
  
  .Information{
    margin-right: 5rem;
  }

  .Information h3 {
    font-size: 2rem;
  
    margin-left: 1rem;
  }
  .Information ul li {
    display: block;
    margin-top: 0.5rem;
  }
  .Information ul li a:hover {
    color:#bb732e;
  }
  .Information ul li a {
    margin-left: 0.01rem;
    text-decoration: none;
    color: #777;
  }
  .lower {
    text-align: center;
    color: #777;
    font-size: 0.933rem;
  }
  .lower hr {
    background-color: #bb732e;
  }
  